:root {
    --primary-color: #007bff;
    --background-light: #FFFFFF;
    --text-dark: #212529;
    --text-light: #fff;
    --section-odd-bg: #FFFFFF; /*g*/
    --section-even-bg: #F8F9FA; /*White*/
    --link-color: #63B09E; /*T*/
    --link-hover-color: #212529
; /*Teal*/
}
header {
    background-color: var(--background-light); /* Use variable for color */
    color: var(--text-dark);
    position: fixed; /* Keep only one position property, fixed or sticky */
    top: 0;
    width: 100%;
    z-index: 1000;
	font-family: 'Roboto Slab', serif;
}
header nav {
    margin: auto; /* Center the navigation menu */
	width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: auto;
}

nav a {
    text-decoration: none;
    color: var(--link-color); /* Use variable for link color */
    padding: 15px 20px;
    display: block;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--link-hover-color); /* Use variable for hover color */
}

/* Add padding to the top of the body to ensure the fixed header doesn't overlap content */
body {
overflow-x: hidden;
font-family: 'Roboto Slab', serif;
    background-color: var(--background-light);
    color: var(--text-dark);
    margin: 0;
    padding-top: 150px;
    width: 100%;
}
section {
	width: 100%;
    padding: 20px;
    margin-top: 0;
	background-color: var(--section-odd-bg);
	
}

section h2 {
	text-align: center; /* Center-align the content */
    color: #333;
    font-size: 24px;
    margin-bottom: 0; /* Ensure no bottom margin */
    padding-bottom: 0; /* Ensure no bottom padding */
}

/* Light blue background for the first section */
section:nth-of-type(odd) {
    background-color: var(--section-odd-bg);
    color: #333;
}

/* Darker blue background for the second section */
section:nth-of-type(even) {
    background-color: var(--section-even-bg);
    color: #333;
}


/* Style for the button */
.button {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #0275d8; /* Blue for the button */
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #025aa5; /* Darker blue on hover */
}

#about {
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: row; /* Default to row, but will change on smaller screens */
    justify-content: space-between;
    align-items: center;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#about .about-text, .about-image {
    flex: 1 1 45%; /* Flex-grow, flex-shrink, flex-basis */
    padding: 20px;
}
#about a:link, #about a:visited {
    color: #654321; /* Replace with your desired link color */
}
.about-image img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}

/* Media Query for devices with width less than 800px */
@media (max-width: 800px) {
    #about {
        flex-direction: column;
        text-align: center;
    }

    #about .about-text, .about-image {
        margin: 0 20px; /* Remove large fixed margins */
        flex-basis: auto; /* Take the width needed */
    }

    .about-image {
        order: -1; /* Image above text */
    }
}


/* Style for social media icons */
.social-media {
    margin-top: 10px; /* Space above social media icons */
    display: flex; /* Align icons horizontally */
    justify-content: center; /* Center icons */
}

.social-media a {
    display: inline-block; /* Display icons inline */
    margin-right: 10px; /* Space between icons */
}

.social-media img {
    width: 24px; /* Fixed width for icons */
    height: auto; /* Maintain aspect ratio */
}
#test-certification {
	font-family: 'Roboto Slab', serif;
    text-align: left; /* Center-align the content */
    color: #212529;
}
#test-certification a:link, #test-certification a:visited {
    color: #654321; /* Replace with your desired link color */
}

#test-certification a:hover, #test-certification a:active {
    color: #63B09E; /* Replace with your desired hover/active link color */
}
#personal-development {
	font-family: 'Roboto Slab', serif;
    text-align: left; /* Center-align the content */
	color: #212529;
}
#personal-development a:link, #personal-development a:visited {
    color: #654321; /* Replace with your desired link color */
}

#personal-development a:hover, #personal-development a:active {
    color: #63B09E; /* Replace with your desired hover/active link color */
}
#skills {
    font-family: 'Roboto Slab', serif;
    text-align: center; /* Center-align the content */
    padding: 20px;
}

#skills {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    padding: 20px;
}

.skills-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.image-container {
    width: 120px;
    text-align: center;
    margin-bottom: 20px; /* Space below the icon container */
}

.image-container img {
    width: 80px; /* Fixed width for consistency */
    height: 80px; /* Fixed height for consistency */
    border-radius: 50%; /* Creates a circle around the image */
    background-color: #FFFFFF; /* Background color for the circle */
	border: 3px solid #63B09E; /* 3px solid black border, change the color and width as needed */
    box-sizing: border-box;
    padding: 10px; /* Space inside the circle */
    box-sizing: border-box;
}

.image-title {
    display: block;
    margin-top: 10px; /* Space between the image and the title */
}




#projects {
	font-family: 'Roboto Slab', serif;
    text-align: center; /* Center-align the content */
    padding: 20px; /* Adjusted to add padding around the grid */
}

.projects-grid {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to the next line */
    justify-content: space-around; /* Changed to space-around to give equal spacing on the sides */
    margin: 0 auto; /* Center the grid within its container */
    max-width: 1200px; /* Set a max-width to control the overall grid width */
}

.project-card {
    height: auto; /* Height adjusts to content */
    flex: 0 1 calc(33.333% - 20px); /* Adjusted flex-basis calculation to account for margin */
    box-sizing: border-box; /* Include padding and borders in the element's total width and height */
    margin: 10px; /* Space between cards */
    padding: 10px; /* Padding inside the cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect for the cards */
    background-color: #fff; /* White background for the cards */
    display: flex; /* Enable flex layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally */
    /* Removed width: 100%; as it is not needed with flex-basis set */
}

.project-card img {
    width: 100%; /* Full width of the card */
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image covers the area, this might crop the image */
    border-radius: 5px; /* Optional: if you want rounded corners for images */
    margin-bottom: 15px; /* Space below the image */
}


.project-card h3 {
    font-size: 1.2em; /* Headings size */
    margin-bottom: 10px; /* Space below the heading */
}

.project-card p {
    font-size: 1em; /* Paragraph text size */
    margin-bottom: 15px; /* Space below the paragraph */
    text-align: center; /* Center-align text */
    flex-grow: 1; /* Allow the paragraph to fill the space */
	text-align: left;
}

.project-card a {
    text-decoration: none; /* No underline on links */
    color: #63B09E; /* Color of the link */
    padding: 10px 15px; /* Padding inside the link for clickable area */
    border-radius: 5px; /* Rounded corners for the link/button */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    align-self: stretch; /* Stretch the link to fit the card's width */
}

.project-card a:hover {
    background-color: #63B09E; /* Color of the link on hover */
    color: #fff; /* Text color on hover */
}

/* Media query for smaller screens - adjust the basis of each project card */
@media (max-width: 768px) {
    .project-card {
        flex-basis: calc(50% - 20px); /* Adjust to have 2 cards per row */
    }
}

@media (max-width: 480px) {
    .project-card {
        flex-basis: 100%; /* Full width on the smallest screens */
        margin: 10px 0; /* Adjust vertical margin only */
    }
}

/* Contact Me Section Styles */
#contact {
	font-family: 'Roboto Slab', serif;
	width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 0; /* Adjust or remove if space is unwanted */
}

#contact h2 {
    margin-bottom: 0.5em; /* Space below the heading */
    font-size: 24px; /* Larger font size for the heading */
}

#contact p {
    font-size: 16px; /* Standard text size */
    line-height: 1.5; /* Spacing between lines */
    color: #333; /* Text color */
    margin: 10px 0; /* Spacing between paragraphs */
}

#contact a {
    color: #63B09E; /* Color for links */
    text-decoration: none; /* No underline for links */
}

#contact a:hover {
    text-decoration: underline; /* Underline on hover for better usability */
}
.intro-section {
    text-align: center; /* Center everything */
    padding: 50px 20px; /* Add padding */
    background: #fff; /* White background */
	font-family: 'Roboto Slab', serif;
}

.intro-section h1 {
    font-size: 2.5rem; /* Large font size */
    margin-bottom: 0.5rem; /* Spacing below the title */
}

.intro-section p,
.project-card p,
#contact p {
    font-size: 1rem;
    font-size: 1.25rem; /* Readable font size */
    color: #666; /* Grey text color */
    margin-bottom: 1.5rem; /* Spacing below the paragraph */
}

.social-links a {
    margin: 0 10px; /* Spacing between icons */
}

.social-links img {
    width: 30px; /* Size of the social icons */
    height: auto; /* Maintain aspect ratio */
}

.button {
	width: auto;
    font-size: 1rem; /* Adjust font size as needed */
    padding: 10px 5%; /* Padding inside the button for top/bottom and left/right */
    margin-top: 20px; /* Keep the top margin */
    margin-bottom: 5px; /* Reduce the bottom margin */
    background-color: white; 
    color: #63B09E; 
    border: 2px solid; 
    border-radius: 5px; /* Rounded corners, adjust as needed for the desired curve */
    cursor: pointer; /* Cursor changes to pointer to indicate button is clickable */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for background and border color change */
    text-align: center; /* Center the text inside the button */
    display: inline-block; /* Allows the button to be placed in line with other elements */
    text-decoration: none; /* Removes underline from text if the button is a link */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow for depth, adjust as needed */
}

.button:hover {
    background-color: #529987; /* Darker teal on hover, adjust color as needed */
    border-color: #529987; /* Border color change on hover, adjust color as needed */
}


footer {
	font-family: 'Roboto Slab', serif;
    background-color: var(--text-dark); /* Dark background for footer */
    color: var(--text-light); /* Light text for footer */
    text-align: center; /* This centers the footer text */
    padding: 20px;
    width: 100%; /* This ensures the footer stretches across the full width */
    position: relative; /* Add this if the footer should be at the bottom of the content */
    bottom: 0; /* Aligns the footer to the bottom */
    left: 0; /* Ensures the footer starts from the left edge */
}
/* Selection color */
::selection {
    background: #69b3a2; /* Adjust the selection color as needed */
    /* ... other styles ... */
}

